/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 20, 2017, 7:55:37 PM
    Author     : manuel
*/

.navbar {
    background-color: #1D243D;
    color: white;
}

div.navbar-header > a.navbar-brand,
div.navbar-header > a.navbar-brand:hover,
div.navbar-header > a.navbar-brand:visited,
div.navbar-header > a.navbar-brand:focus {
    
    background-color: #1D243D;
    color: white;
}

li.dropdown > a.dropdown-toggle:hover,
li.dropdown > a.dropdown-toggle:visited,
li.dropdown > a.dropdown-toggle:focus {
    color: white;
    background: rgba(255,255,255,0.2);
}

a.dropdown-toggle {
    color: white;
}

body {
    margin-top: 55px;
}

.form-small {
    max-width: 450px;
    padding: 15px;
    margin: 0 auto;
}

.form-large {
    max-width: 900px;
    padding: 15px;
    margin: 0 auto;
}

.text-right
{
    text-align: right !important;
}

.text-center
{
    text-align: center !important;
}

.text-left
{
    text-align: left !important;
}

.text-left-margin {
    margin-left: 10px;
}

.chart {
    width: 95%;
}

.errors {
    color: red;
}